html > body {
    background: #3C3C3C;
    .box-room {
      position: absolute;
      width: 80%;
      height: 89%;
      left: 10%;
      top: 3%;
    Button {
      width: 50%;
      left: 24%;
    }
      input::placeholder {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }
  }
  title {
    color: black !important;
  }
}
